<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masterkey">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_app_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasterKey">
        <activity
            android:name=".Views.CreateNewCryptoWalletActivity"
            android:exported="false" />
        <activity
            android:name=".Views.CreateNewCreditCardActivity"
            android:exported="false" />
        <activity
            android:name=".Views.CreateNewSocialNetworkActivity"
            android:exported="false" />
        <activity
            android:name=".Views.OpenCryptoWalletActivity"
            android:exported="false" />
        <activity
            android:name=".Views.OpenCreditCardActivity"
            android:exported="false" />
        <activity
            android:name=".Views.OpenSocialNetworkActivity"
            android:exported="false" />
        <activity
            android:name=".Views.MyProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.EncrypterDecrypterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.CryptoWalletsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.CreditCardsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.SocialNetworksActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.YourAccountsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>